:root {
    --select-background-color-default: var(--colour-button-background);
    --error-background-color: var(--colour-error-background);
}

body {
    background-color: var(--colour-primary-background);
    color: var(--colour-text-primary);
}

.input-group {
    margin: 2em 0 1em 0;
}

.form-control,
.select,
.btn,
.popover,
.popover-body,
input[type]:focus,
.tabbar {
    background-color: var(--colour-button-background);
    border-color: #464c4e;
    color: var(--colour-text-primary);
    border-width: 1px;
    border-radius: 4px;
}

.sidebar,
.tab {
    background-color: var(--colour-secondary-background);
    border-color: #464c4e;
    color: var(--colour-text-primary);
}

.btn:disabled,
.select:disabled {
    border: none;
    opacity: 10%;
}

.popover {
    --bs-popover-bg: var(--colour-button-background);
}

.alert-danger {
    background-color: var(--error-background-color);
    border: 2px solid #bc1e2e;
    color: #df7a83;
}

.tab-close-button {
    color: var(--colour-text-secondary);
}