.resource {
    .scroll {
        max-height: calc(100vh - 32px - 48px) !important; // allow room for tabbar and input-group
            // tabbar (32px)
            // navbar (48px)
    }

    .anchor-right {
        flex: 1;
        text-align: right;
        padding: 10px;
        padding-right: 20px;
    }
}

.resource-content {
    // center {
        * {
            font-family: Times New Roman !important;
        }
    // }

    background-color: var(--colour-primary-surface);
    padding: 50px 50px 50px 50px;
    margin-bottom: 20px !important;
    margin: auto;
}

.resource-header {
    display: flex;
    padding: 5px;
    height: 48px;
}

.anchor-centre {
    flex: 1;
    text-align: center;
    padding: 10px;
}

.anchor-left {
    flex: 1;
    text-align: left;
    padding: 10px;
    padding-left: 20px;
}


