.scripture {
    .scroll {
        max-height: calc(100vh - 32px - 32px - 38px - 16px - 38px - 8px) !important; // allow room for tabbar and input-group
            // tabbar (32px),
            // banner {
            //      input-group { padding-top (32px), content (38px), padding-bottom (16px) },
            //      secondary group { contents (38px) },
            //      margin-bottom (8px)
            // }
    }
}
.scripture-interlinear {
    .scroll {
        max-height: calc(100vh - 32px - 32px - 16px - 38px - 8px) !important; // allow room for tabbar and input-group
            // tabbar (32px),
            // banner {
            //      input-group { padding-top (32px), content (38px), padding-bottom (16px) },
            //      margin-bottom (8px)
            // }
    }
}

.interlinear-contents {
    margin: auto;
    width: 100%;
    max-width: 1300px;
    padding: 0 10px;

    .interlinear {
        display: flex;
        flex-wrap: wrap;

        div {
            margin: 4px;
            padding: 16px;
        }

        .punct {
            font-family: serif;
            font-size: 28px;
            user-select: none;
            color: var(--colour-text-secondary);
            padding: 0px !important;

            justify-content: center;
            align-items: center;
        }

        .label {
            padding-right: 0px !important;
            padding-left: 0px !important;
        }
    }

    .interlinear.hebrew {
        direction: rtl;
    }


    .stack {
        border-bottom: 1px dotted var(--colour-secondary-border);
    }

    .stack.selected {
        color: var(--colour-accent-splash) !important;
    }

    .stack:hover {
        outline: 1px dotted var(--colour-primary-border);
        cursor: pointer;
    }

    .label {
        font-size: 0.8em;
        font-weight: bold;
    }
}

// .native {

// }

.translit {
    margin-right: 5px;
    font-size: 12px;
    user-select: none;
    color: var(--colour-text-secondary);
    vertical-align: sub;
    font-weight: 500;
}

// .english {

// }

.stack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infoPanel {
    background-color: var(--colour-primary-surface);
    margin: 8px;
    margin-right: 18px;
    padding: 20px;
    box-sizing: border-box;
    width: max-content;
    width: 450px;

    .description {
        margin-top: 10px;
    }

    .infoPanel-section {
        margin-top: 15px;
    }
}

.strongs {
    color: #0d6efd;
    text-decoration: underline;
    cursor: pointer;
}