.sidepanel {
    background-color: #202020;
    width: 240px;
    flex: 0 0 auto;
    height: 100vh;

    overflow-y: auto;
}

.accordion {
    background-color: transparent;
    color: #ffffff;
}

.accordion-item {
    background-color: transparent;
    border: none;
    color: #ffffff;
}

.accordion-header {
    background-color: transparent;
    color: #ffffff;
}

.accordion-button {
    background-color: transparent;
    color: #464c4e;
    padding: 5px;

    // --bs-accordion-btn-icon-active: --bs-accordion-btn-icon;
}

.accordion-button:focus {
    box-shadow: none;
    background-color: transparent;
    color: #ffffff;
}

.accordion-button::after {
    color: #ffffff;
}

.accordion-body {
    padding-top: 0px;
    padding-bottom: 0px;
}

.chapter-button {
    color: #1ca1de;
    text-decoration-line: underline;
    cursor: pointer;
}

.chapters-grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}