// SIDENOTES
article {
    margin: auto;
    width: 100%;
    max-width: 900px;
    padding: 0 10px;
    position: relative;
    --sidenoteAnchorColor: var(--highlight-display, #463406); //F8E4B1
    --sidenoteAnchorColorHover: var(--highlight-display, #684c06); //F7CF69B6
    --sidenoteAnchorColorSelected: var(--highlight-display, #715307); //F5C955
}

.base {
    background-color: #181a1b; //181a1b
    padding: 20px 50px 50px 50px;
    // ::selection {
    //     background-color: #715307;
    // }
    margin-bottom: 20px;
}

.sidenote {
    width: 320px !important;
}

.sidenotes.l {
    right: 0;
    left: -300px;

    .sidenote {
        left: -10px;
    }

    .sidenote.selected {
        left: 1px;
    }
}

.sidenote {
    width: 100% !important;
}
