// SIDENOTES
article {
    margin: auto;
    width: 100%;
    max-width: 900px;
    padding: 0 10px;
    position: relative;
    --sidenoteAnchorColor: var(--colour-highlight);
    --sidenoteAnchorColorHover: var(--colour-highlight-hover);
    --sidenoteAnchorColorSelected: var(--colour-highlight-select);
}

.base {
    background-color: var(--colour-primary-surface);
    padding: 20px 50px 50px 50px;
    margin-bottom: 20px;
}

.sidenote {
    width: 320px !important;
}

.sidenotes.l {
    right: 0;
    left: -300px;

    .sidenote {
        left: -10px;
    }

    .sidenote.selected {
        left: 1px;
    }
}

.sidenote {
    width: 100% !important;
}
