.sidepanel {
    background-color: var(--colour-tertiary-background);
    width: 240px;
    flex: 0 0 auto;
    height: 100vh;

    overflow-y: auto;
}

.accordion {
    background-color: transparent;
    color: var(--colour-text-primary);
}

.accordion-item {
    background-color: transparent;
    border: none;
    color: var(--colour-text-primary);
}

.accordion-header {
    background-color: transparent;
    color: var(--colour-text-primary);
}

.accordion-button {
    background-color: transparent;
    color: #464c4e;
    padding: 5px;
}

.accordion-button:focus {
    box-shadow: none;
    background-color: transparent;
    color: var(--colour-text-primary);
}

.accordion-button::after {
    color: var(--colour-text-primary);
}

.accordion-body {
    padding-top: 0px;
    padding-bottom: 0px;
}

.chapter-button {
    color: #1ca1de;
    text-decoration-line: underline;
    cursor: pointer;
}

.button-grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: var(--colour-button-background);
    padding: 5px;
    border-radius: 4px;

    .butn {
        border: none !important;
        background-color: transparent !important;
    }

    button {
        border-radius: 4px;
        // background-color: transparent !important;
    }
}