.sidebar {
    width: 48px;
    flex: 0 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.top-container {
    flex: 1;
    /* Expand to fill available space (pushes bottom container to the bottom) */
}

.bottom-container {
    display: flex;
    flex-direction: column-reverse;
    /* Stack buttons in this container bottom-up */
}

.sidebar-button {
    background-color: var(--colour-secondary-surface);
    color: var(--colour-text-primary);
    border: none;
    padding: 2px;
    margin: 2px 0;
    /* Adjust the margin as needed */
    cursor: pointer;
    width: 48px;
    height: 48px;
}

.sidebar-button.selected {
    border-left: 5px solid var(--colour-accent-surface);
}