// BIBLE

.label {
    position: relative;
    top: -0.6em;
    margin-right: 5px;
    font-size: 12px;
    user-select: none;
    color: #9c9386;
}

.label.chapter {
    top: 0em;
    bottom: -0.1em;
    font-size: 24px;
    font-weight: 700;
    user-select: none;
}

//paragraphs
span.s,
span.s1,
span.sp,
span.ms,
span.qa {
    //header
    font-weight: 700;
    line-height: 1em;
    margin: 1em 0 0 0;
    display: inline-block;
    font-style: italic;
}

span.d {
    //minor header
    font-style: italic;
    line-height: 1em;
    margin: 1em 0 0 0;
    display: inline-block;
}

span.p,
span.m {
    //regular paragraph: indent first line
    text-indent: 1em;
    line-height: 2em;
    margin-top: 16px;
    display: inline-block;
}

span.pc {
    //centralsie paragraph
    text-align: center;
}

span.pmr {
    //right-align paragraph
    text-align: center;
}

span.q1 {
    line-height: 2em;
    padding-left: 2em;
    text-indent: 2em;
    margin-top: 16px;
    display: inline-block;
}

span.q2,
span.q3 {
    line-height: 2em;
    padding-left: 2em;
    text-indent: 3em;
    display: inline-block;
}

//text types
span.qs {
    font-style: italic;
    float: right;
}

span.qr {
    float: right;
}

span.it,
span.sls {
    //additional words required in English for clarification: italicised
    font-style: italic;
}

span.add {
    //additional content not in original manuscripts
    font-style: italic;
    color: #6e6c68;
}

span.sc,
span.nd,
span.nb,
span.bd {
    //covenant name of God: capitalised
    font-variant: small-caps;
}

span.wj {
    //words spoken by Jesus: 'red letter'
    color: #ff3344;
}

span.bdit {
    font-weight: 700;
    font-style: italic;
}

.ref {
    cursor: pointer;
}

.ref.internal {
    color: #ff3344;
}

.ref.external {
    color: #9900FF;
}

//footnotes
.note {
    display: var(--note-display, inline);
}
.note::before {
    background-image: url("https://www.bible.com/static-assets/footnote.png");
}

.note:before {
    // background-image: url(/static-assets/footnote.png);
    background-repeat: no-repeat;
    // background-size: contain;
    background-size: 12px;
    content: "";
    cursor: pointer;
    display: inline-block;
    height: 12px;
    margin: 5px;
    opacity: .6;
    width: 12px;
}

.popover {
    max-width: 800px;
    padding: 0;
}

.notice {
    color: #9c9386;
    font-size: .875rem;
    text-align: center;
    padding-top: 1em;
}

.blink {
    animation: blinker 4s linear 1;
}

@keyframes blinker {
    30% {
        color: yellow;
    }
}

.dotted { 
    border-bottom: 1px dotted; 
}