.tox.tox-tinymce {
    border-radius: 0 !important;
}

.tox .tox-editor-header {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.tox .tox-sidebar-wrap {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.tox .tox-toolbar,
.tox .tox-toolbar__primary,
.tox .tox-toolbar__overflow {
    border-radius: 0 !important;
}
