.tox.tox-tinymce {
    background-color: #ffffff !important;
    border-radius: 0 !important;
}

.tox .tox-editor-header {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.tox .tox-sidebar-wrap {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.tox .tox-toolbar,
.tox .tox-toolbar__primary,
.tox .tox-toolbar__overflow {
    border-radius: 0 !important;
}

.mock-editor {
    font-family: ArialMT, Helvetica Neue, Arial, Liberation Sans, FreeSans, sans-serif;
    font-size: 14px;
    color: #000000;
    background-color: #edf2fa;
    padding: 17px;
    word-wrap: break-word;
}
