// BIBLE

.label {
    position: relative;
    top: -0.6em;
    margin-right: 5px;
    font-size: 12px;
    user-select: none;
    color: #9c9386;
}
.label.chapter { 
    top: 0em;
    bottom: -0.1em;
    font-size: 24px;
    font-weight: 700;
    user-select: none;
}

//paragraphs
div.s { //header
    font-weight: 700;
    line-height: 1em;
    margin: 2em 0 0 0;
}
div.p { //regular paragraph: indent first line
    text-indent: 1em;
    line-height: 2em;
    margin-top: 16px;
}
span.pc {
    text-align: center;
}
div.q1 {
    line-height: 2em;
    padding-left: 2em;
    text-indent: 2em;
    margin-top: 16px;
}
div.q2 {
    line-height: 2em;
    padding-left: 2em;
    text-indent: 3em;
}

//text types
.qs {
    display: block;
    font-style: italic;
    text-align: right;
}

.it, .sls { //additional words required in English for clarification: italicised
    font-style: italic;
}
.sc, .nd, .bd { //covenant name of God: capitalised
    font-variant: small-caps;
}
.wj { //words spoken by Jesus: 'red letter'
    color: #ff3344;
}

.ref {
    cursor: pointer;
}
.ref.internal {
    color: #ff3344;
}
.ref.external {
    color: #dd33dd;
}

//footnotes
.note::before {
    background-image: url("https://www.bible.com/static-assets/footnote.png");
}
.note:before {
    // background-image: url(/static-assets/footnote.png);
    background-repeat: no-repeat;
    // background-size: contain;
    background-size: 12px;
    content: "";
    cursor: pointer;
    display: inline-block;
    height: 12px;
    margin: 5px;
    opacity: .6;
    width: 12px;
}
.popover {
    max-width: 800px;
    padding: 0;
}

.notice {
    color: #9c9386;
    font-size: .875rem;
    text-align: center;
    padding-top: 1em;
}   

.blink {
    animation: blinker 4s linear 1;
}
@keyframes blinker {
    30% {
        color: yellow;
    }
}